In [1]:
pip install pymongo

Collecting pymongo
  Downloading pymongo-4.10.1-cp310-cp310-manylinux_2_17_x86_64.manylinux2014_x86_64.whl.metadata (22 kB)
Collecting dnspython<3.0.0,>=1.16.0 (from pymongo)
  Downloading dnspython-2.7.0-py3-none-any.whl.metadata (5.8 kB)
Downloading pymongo-4.10.1-cp310-cp310-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (1.4 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 1.4/1.4 MB 16.9 MB/s eta 0:00:00
Downloading dnspython-2.7.0-py3-none-any.whl (313 kB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 313.6/313.6 kB 13.2 MB/s eta 0:00:00
Installing collected packages: dnspython, pymongo
Successfully installed dnspython-2.7.0 pymongo-4.10.1

### 1. Advanced CRUD Operations
- **Exercise 1**: Use `bulk_write` to insert, update, and delete multiple documents simultaneously.
- **Task 1**: Insert a dataset of `courses` where each course has multiple student enrollments, then display the data.

In [4]:
from pymongo import MongoClient, InsertOne, UpdateOne, DeleteOne

# Establish client connection
client = MongoClient('mongodb+srv://WSA_MONGODB:wsadbmongo@itsmewysds.re1ne.mongodb.net/?retryWrites=true&w=majority&appName=itsmewysds')
db = client['university_db']
courses_collection = db['courses']

# Bulk insert of courses with student enrollments
operations = [
    InsertOne({'course': 'Math 101', 'enrollments': 30, 'department': 'Mathematics'}),
    InsertOne({'course': 'CS 102', 'enrollments': 25, 'department': 'Computer Science'}),
    InsertOne({'course': 'History 201', 'enrollments': 20, 'department': 'History'}),
    InsertOne({'course': 'Physics 202', 'enrollments': 15, 'department': 'Physics'})
]
courses_collection.bulk_write(operations)
print('Courses inserted successfully.')

Courses inserted successfully.

In [15]:
#Menambahkan data
operations = [
    InsertOne({'course': 'Math 102', 'enrollments': 10, 'department': 'Mathematics'}),
    InsertOne({'course': 'CS 103', 'enrollments': 15, 'department': 'Computer Science'}),
    InsertOne({'course': 'History 204', 'enrollments': 10, 'department': 'History'}),
    InsertOne({'course': 'Physics 205', 'enrollments': 25, 'department': 'Physics'})
]

courses_collection.bulk_write(operations)
print('Courses inserted successfully.')

Courses inserted successfully.

### 2. Complex Filtering and Querying
- **Exercise 2**: Filter courses with enrollments over 20 students.
- **Task 2**: Retrieve and display courses only from the 'Computer Science' or 'Mathematics' departments.

In [5]:
# Query for courses with enrollments greater than 20
for course in courses_collection.find({'enrollments': {'$gt': 20}}):
    print(course)

{'_id': ObjectId('67333ebf5e77397e3b7a73d8'), 'course': 'Math 101', 'enrollments': 30, 'department': 'Mathematics'}
{'_id': ObjectId('67333ebf5e77397e3b7a73d9'), 'course': 'CS 102', 'enrollments': 25, 'department': 'Computer Science'}

In [6]:
# Query courses in Computer Science or Mathematics departments
for course in courses_collection.find({'department': {'$in': ['Computer Science', 'Mathematics']}}):
    print(course)

{'_id': ObjectId('67333ebf5e77397e3b7a73d8'), 'course': 'Math 101', 'enrollments': 30, 'department': 'Mathematics'}
{'_id': ObjectId('67333ebf5e77397e3b7a73d9'), 'course': 'CS 102', 'enrollments': 25, 'department': 'Computer Science'}

### 3. Aggregation Framework for Data Analysis
- **Exercise 3**: Use aggregation to find the average enrollment per department.
- **Task 3**: Create an aggregation pipeline that finds the maximum enrollment for each department.

In [7]:
# Average enrollment per department using aggregation
pipeline = [
    {'$group': {'_id': '$department', 'average_enrollment': {'$avg': '$enrollments'}}}
]
for result in courses_collection.aggregate(pipeline):
    print(result)

{'_id': 'Mathematics', 'average_enrollment': 30.0}
{'_id': 'History', 'average_enrollment': 20.0}
{'_id': 'Computer Science', 'average_enrollment': 25.0}
{'_id': 'Physics', 'average_enrollment': 15.0}

In [8]:
# Maximum enrollment per department
pipeline = [
    {'$group': {'_id': '$department', 'max_enrollment': {'$max': '$enrollments'}}}
]
for result in courses_collection.aggregate(pipeline):
    print(result)

{'_id': 'History', 'max_enrollment': 20}
{'_id': 'Computer Science', 'max_enrollment': 25}
{'_id': 'Physics', 'max_enrollment': 15}
{'_id': 'Mathematics', 'max_enrollment': 30}

### 4. Data Transformation using $project and $addFields
- **Exercise 4**: Use `$project` to rename and only show fields: `course_name`, `department_name`, and `enrollments`.
- **Task 4**: Use `$addFields` to create a new field `enrollment_category` where enrollments > 20 are 'high' and others 'low'.

In [9]:
# Projection to rename fields
pipeline = [
    {'$project': {'course_name': '$course', 'department_name': '$department', 'enrollments': 1}}
]
for result in courses_collection.aggregate(pipeline):
    print(result)

{'_id': ObjectId('67333ebf5e77397e3b7a73d8'), 'enrollments': 30, 'course_name': 'Math 101', 'department_name': 'Mathematics'}
{'_id': ObjectId('67333ebf5e77397e3b7a73d9'), 'enrollments': 25, 'course_name': 'CS 102', 'department_name': 'Computer Science'}
{'_id': ObjectId('67333ebf5e77397e3b7a73da'), 'enrollments': 20, 'course_name': 'History 201', 'department_name': 'History'}
{'_id': ObjectId('67333ebf5e77397e3b7a73db'), 'enrollments': 15, 'course_name': 'Physics 202', 'department_name': 'Physics'}

In [10]:
# Adding enrollment category field based on enrollments
pipeline = [
    {'$addFields': {'enrollment_category': {'$cond': {'if': {'$gt': ['$enrollments', 20]}, 'then': 'high', 'else': 'low'}}}}
]
for result in courses_collection.aggregate(pipeline):
    print(result)

{'_id': ObjectId('67333ebf5e77397e3b7a73d8'), 'course': 'Math 101', 'enrollments': 30, 'department': 'Mathematics', 'enrollment_category': 'high'}
{'_id': ObjectId('67333ebf5e77397e3b7a73d9'), 'course': 'CS 102', 'enrollments': 25, 'department': 'Computer Science', 'enrollment_category': 'high'}
{'_id': ObjectId('67333ebf5e77397e3b7a73da'), 'course': 'History 201', 'enrollments': 20, 'department': 'History', 'enrollment_category': 'low'}
{'_id': ObjectId('67333ebf5e77397e3b7a73db'), 'course': 'Physics 202', 'enrollments': 15, 'department': 'Physics', 'enrollment_category': 'low'}

### Homework for Students

- **Homework 1**: Perform an aggregation to get a count of courses per department.

In [17]:
# Perform an aggregation to get a count of courses per department.
pipeline = [
    {'$group': {'_id': '$department', 'jumlah_matakuliah': {'$sum': 1}}}
]
for result in courses_collection.aggregate(pipeline):
    print(result)

{'_id': 'Physics', 'jumlah_matakuliah': 2}
{'_id': 'Computer Science', 'jumlah_matakuliah': 2}
{'_id': 'Mathematics', 'jumlah_matakuliah': 2}
{'_id': 'History', 'jumlah_matakuliah': 2}

- **Homework 2**: Use `$match` and `$group` together to filter and get only courses with enrollments over 25 in 'Computer Science'.

In [20]:
#Menambahkan data
operations = [
    InsertOne({'course': 'CS 302', 'enrollments': 35, 'department': 'Computer Science'}),
    InsertOne({'course': 'CS 303', 'enrollments': 40, 'department': 'Computer Science'}),
    InsertOne({'course': 'CS 201', 'enrollments': 10, 'department': 'Computer Science'}),
    InsertOne({'course': 'CS 204', 'enrollments': 20, 'department': 'Computer Science'})
]

courses_collection.bulk_write(operations)
print('Courses inserted successfully.')

Courses inserted successfully.

In [30]:
pipeline = [
    {
        '$match': {
            'department': 'Computer Science',  # Filter berdasarkan department 'Computer Science'
            'enrollments': {'$gt': 25}        # Filter kursus dengan pendaftaran lebih dari 25
        }
    },
    {
        '$group': {
            '_id': '$department',             # Mengelompokkan berdasarkan department
            'nama_matakuliah': {'$push': '$course'}  # Mengumpulkan nama kursus dalam array
        }
    }
]

# Menjalankan pipeline
for result in courses_collection.aggregate(pipeline):
    print(result)

{'_id': 'Computer Science', 'nama_matakuliah': ['CS 302', 'CS 303']}

- **Homework 3**: Apply `$lookup` to join `courses` collection with `students` collection based on student enrollments.

In [39]:
from pymongo import MongoClient, InsertOne, UpdateOne, DeleteOne

# Establish client connection
client = MongoClient('mongodb+srv://WSA_MONGODB:wsadbmongo@itsmewysds.re1ne.mongodb.net/?retryWrites=true&w=majority&appName=itsmewysds')
db = client['university_db']
students_collection = db['students']

# Bulk insert of students with student enrollments
students_data = [
    InsertOne({'students_name': 'Joko', 'course': 'Math 101'}),
    InsertOne({'students_name': 'Afifatul', 'course': 'CS 102'}),
    InsertOne({'students_name': 'Gema', 'course': 'CS 302'}),
    InsertOne({'students_name': 'Komarudin', 'course': 'Physics 202'}),
    InsertOne({'students_name': 'Umar', 'course': 'Math 101'}),
    InsertOne({'students_name': 'Wiyandra', 'course': 'CS 102'}),
    InsertOne({'students_name': 'Abidin', 'course': 'CS 302'}),
    InsertOne({'students_name': 'Jamal', 'course': 'Physics 202'}),
    InsertOne({'students_name': 'Otmar', 'course': 'CS 102'}),
    InsertOne({'students_name': 'Shah', 'course': 'Physics 202'})
]
students_collection.bulk_write(students_data)
print('students inserted successfully.')

students inserted successfully.

In [41]:
pipeline = [
    {
        '$lookup': {
            'from': 'students',               # Koleksi yang ingin digabungkan (students)
            'localField': 'course',           # Field di koleksi courses (course)
            'foreignField': 'course',         # Field di koleksi students (course yang diambil siswa)
            'as': 'enrolled_students'         # Nama field baru untuk hasil join
        }
    },
    {
        '$project': {
            'course': 1,                      # Menampilkan nama course
            'department': 1,                  # Menampilkan department
            'enrolled_students.students_name': 1  # Hanya menampilkan students_name dalam enrolled_students
        }
    }
]

# Menjalankan pipeline
for result in courses_collection.aggregate(pipeline):
    print(result)

{'_id': ObjectId('67333ebf5e77397e3b7a73d8'), 'course': 'Math 101', 'department': 'Mathematics', 'enrolled_students': [{'students_name': 'Joko'}, {'students_name': 'Umar'}]}
{'_id': ObjectId('67333ebf5e77397e3b7a73d9'), 'course': 'CS 102', 'department': 'Computer Science', 'enrolled_students': [{'students_name': 'Afifatul'}, {'students_name': 'Wiyandra'}, {'students_name': 'Otmar'}]}
{'_id': ObjectId('67333ebf5e77397e3b7a73da'), 'course': 'History 201', 'department': 'History', 'enrolled_students': []}
{'_id': ObjectId('67333ebf5e77397e3b7a73db'), 'course': 'Physics 202', 'department': 'Physics', 'enrolled_students': [{'students_name': 'Komarudin'}, {'students_name': 'Jamal'}, {'students_name': 'Shah'}]}
{'_id': ObjectId('6733422e5e77397e3b7a73dc'), 'course': 'Math 102', 'department': 'Mathematics', 'enrolled_students': []}
{'_id': ObjectId('6733422e5e77397e3b7a73dd'), 'course': 'CS 103', 'department': 'Computer Science', 'enrolled_students': []}
{'_id': ObjectId('6733422e5e77397e3b7a73de'), 'course': 'History 204', 'department': 'History', 'enrolled_students': []}
{'_id': ObjectId('6733422e5e77397e3b7a73df'), 'course': 'Physics 205', 'department': 'Physics', 'enrolled_students': []}
{'_id': ObjectId('6733444d5e77397e3b7a73e0'), 'course': 'CS 302', 'department': 'Computer Science', 'enrolled_students': [{'students_name': 'Gema'}, {'students_name': 'Abidin'}]}
{'_id': ObjectId('6733444d5e77397e3b7a73e1'), 'course': 'CS 303', 'department': 'Computer Science', 'enrolled_students': []}
{'_id': ObjectId('6733444d5e77397e3b7a73e2'), 'course': 'CS 201', 'department': 'Computer Science', 'enrolled_students': []}
{'_id': ObjectId('6733444d5e77397e3b7a73e3'), 'course': 'CS 204', 'department': 'Computer Science', 'enrolled_students': []}